*{
  margin:0;
 padding:0;
}
header{
  background-color : black;
}

nav ul li{
  list-style:none;
  padding:0 6px;
}
nav ul li a{
  text-decoration:none;
  color: white;
  font-size:2vw;
}
nav ul{
  display: flex;
  justify-content: flexstart;    align-items: left;
  left:3px;
}


main{
  height: auto;}

.search-container {
    position: relative;
    width: 300px;
}

#search-bar {
    margin : 2vw;
    width: 100%;
    padding: 2vw;
    border: 1px solid black;
    border-radius: 15px;
    box-sizing: border-box;
}

.suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #000000;
    border-top: none;
    background-color: white;
    border-radius: 0 0 4px 4px;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    z-index: 1000;
}


.suggestions.active {
    display: block;
}

. suggestion-item {
  display: block;
  text-decoration:none;
    padding: 10px;
    cursor: pointer;
}
.suggestion a {
  display: block;
  list-style:none;
  text-decoration:none;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}
.post{
  background-color: #d9d9d9 ;
  border: 1px solid #365cf5 ;
  border-radius: 3vw;
  margin : 1vw 3vw;
  padding: 1em;
}
.post h5{
  font-size : 2em;
  color : blue;
}
.post {
  font-size : 1vh;
}
.post a {
  text-decoration: none;
}
  
footer {
 background-color : black;
  color: white;
  font-size:5px;
  text-align:center;
  padding:5vw; 
  z-index: buttem 0;
}
footer p{
  font-size:7px;
}
footer a {
  text-decoration:none;
  color: white;}

.suggestion-item {  
  display: flex;  
  align-items: center;  
  padding: 10px;  
  border-bottom: 1px solid #eee;  
}  
  
.suggestion-item:last-child {  
  border-bottom: none;  
}  
  
/* Suggestion Text */  
  
.suggestion-text {  
  font-size: 16px;  
  font-weight: bold;  
  color: #333;  
  margin-right: 10px;  
  text-decoration: none;
  underlin:none;
}  
  
/* Suggestion URL */  
  
